In [14]:
#Básicos (Standard)
import requests
import http.client
import json
import numpy as np # sirve para realizar procesamientos básicos númericos en datos cuantitativos
import pandas as pd #sirve para realizar los procesos ETL en un conjunto de datos
import time  #sirve para la manipulación de datos en diferentes formatos de tiempo
import os # Permite la ejecución de comandos a niverl sistema operativo
#Graficadores (Plots)
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns
import pymysql

### 5. Carga de Datos

### Ejercicio 1

#### 5.1° Importación de Datos de una Base de Datos SQL(MySQL)

In [18]:
usuario = 'root'
contraseña = '1234'
host = 'localhost'
puerto = '3307'
bd = 'gimnasio_8b_idgs_220192'

# Ponemos el string de conexion
connection_string = (
    f"mysql+pymysql://{usuario}:{contraseña}@{host}:{puerto}/{bd}"
)
engine = create_engine(connection_string)

In [19]:
# Léemos una tabla para asegurarnos que se importan los datos correctamente
df2 = pd.read_sql_query("SELECT * FROM tbb_personas", con=engine)
df2.head()

,ID,Titulo_Cortesia,Nombre,Primer_Apellido,Segundo_Apellido,Fecha_Nacimiento,Fotografia,Genero,Tipo_Sangre,Estatus,Fecha_Registro,Fecha_Actualizacion
0,1,None,Andrea,Gutiérrez,Mendoza,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,M,O+,b'\x01',2025-02-27 14:23:15,None
1,2,Profra.,Sofía,López,Sánchez,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,M,O+,b'\x01',2025-02-27 14:23:15,None
2,3,None,Claudia,Morales,López,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,M,O+,b'\x01',2025-02-27 14:23:15,None
3,4,None,Andrea,Jiménez,Cruz,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,M,O+,b'\x01',2025-02-27 14:23:15,None
4,5,Med.,Hugo,Flores,Sánchez,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,H,O+,b'\x01',2025-02-27 14:23:15,None

In [20]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   20 non-null     int64
 1   Titulo_Cortesia      7 non-null      object
 2   Nombre               20 non-null     object
 3   Primer_Apellido      20 non-null     object
 4   Segundo_Apellido     20 non-null     object
 5   Fecha_Nacimiento     20 non-null     object
 6   Fotografia           20 non-null     object
 7   Genero               20 non-null     object
 8   Tipo_Sangre          20 non-null     object
 9   Estatus              20 non-null     object
 10  Fecha_Registro       20 non-null     datetime64[ns]
 11  Fecha_Actualizacion  0 non-null      object
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 2.0+ KB

### 5.2 Limpiar Datos

In [21]:
# Verificamos si la base tiene datos nulos 
print(df2.isnull().sum())

ID                      0
Titulo_Cortesia        13
Nombre                  0
Primer_Apellido         0
Segundo_Apellido        0
Fecha_Nacimiento        0
Fotografia              0
Genero                  0
Tipo_Sangre             0
Estatus                 0
Fecha_Registro          0
Fecha_Actualizacion    20
dtype: int64

In [22]:
df2_nulos = df2.isnull().sum()

In [23]:
# Se borran las columnas bacias 
df2_clean = df2_nulos.dropna()

In [24]:
# Confirmae que se borraron las columnas vacias 
print(df2_nulos.isnull().sum())

0

In [25]:
df2_nulos.info()

<class 'pandas.core.series.Series'>
Index: 12 entries, ID to Fecha_Actualizacion
Series name: None
Non-Null Count  Dtype
--------------  -----
12 non-null     int64
dtypes: int64(1)
memory usage: 492.0+ bytes

#### 5.3 Transformación de datos

In [26]:
# Se sustituyen valores nulos por 'N/A'
df2_valoresNulosSustituido = df2.fillna(value='N/A')

In [27]:
# verificar que si se hayan sustituido 
df2_valoresNulosSustituido

,ID,Titulo_Cortesia,Nombre,Primer_Apellido,Segundo_Apellido,Fecha_Nacimiento,Fotografia,Genero,Tipo_Sangre,Estatus,Fecha_Registro,Fecha_Actualizacion
0,1,N/A,Andrea,Gutiérrez,Mendoza,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,M,O+,b'\x01',2025-02-27 14:23:15,N/A
1,2,Profra.,Sofía,López,Sánchez,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,M,O+,b'\x01',2025-02-27 14:23:15,N/A
2,3,N/A,Claudia,Morales,López,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,M,O+,b'\x01',2025-02-27 14:23:15,N/A
3,4,N/A,Andrea,Jiménez,Cruz,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,M,O+,b'\x01',2025-02-27 14:23:15,N/A
4,5,Med.,Hugo,Flores,Sánchez,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,H,O+,b'\x01',2025-02-27 14:23:15,N/A
5,6,N/A,Valentina,González,Morales,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,M,O+,b'\x01',2025-02-27 14:23:15,N/A
6,7,Dra.,Patricia,Vásquez,Hernández,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,M,O+,b'\x01',2025-02-27 14:23:15,N/A
7,8,N/A,Verónica,López,Vásquez,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,M,O+,b'\x01',2025-02-27 14:23:15,N/A
8,9,N/A,Patricia,Flores,Pérez,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,M,O+,b'\x01',2025-02-27 14:23:15,N/A
9,10,Dr.,Mariano,Rodríguez,Jiménez,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,H,O+,b'\x01',2025-02-27 14:23:15,N/A
10,11,N/A,Marta,Gutiérrez,González,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,M,O+,b'\x01',2025-02-27 14:23:15,N/A
11,12,Dr.,Marco,Rivera,Rodríguez,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,H,O+,b'\x01',2025-02-27 14:23:15,N/A
12,13,N/A,Juan,Castillo,Hernández,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,H,O+,b'\x01',2025-02-27 14:23:15,N/A
13,14,N/A,Brayan,Morales,Martínez,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,H,O+,b'\x01',2025-02-27 14:23:15,N/A
14,15,N/A,Santiago,Hernández,Rodríguez,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,H,O+,b'\x01',2025-02-27 14:23:15,N/A
15,16,N/A,Verónica,García,López,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,M,O+,b'\x01',2025-02-27 14:23:15,N/A
16,17,N/A,Jaime,Morales,Rivera,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,H,O+,b'\x01',2025-02-27 14:23:15,N/A
17,18,Dra.,Maria,Sánchez,Cruz,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,M,O+,b'\x01',2025-02-27 14:23:15,N/A
18,19,N/A,Raquel,González,Mendoza,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,M,O+,b'\x01',2025-02-27 14:23:15,N/A
19,20,C.P.,Martin,Ramírez,Gutiérrez,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,H,O+,b'\x01',2025-02-27 14:23:15,N/A

In [28]:
# Cambiamos el dato en Titulo_Cortesia que tenga N/A por ING.
df2_SenTempNulSustituido = df2.fillna({'Titulo_Cortesia':'N/A','Titulo_Cortesia':'ING'})

In [29]:
#Verificamos que si se hayan sustituido 
df2_SenTempNulSustituido

,ID,Titulo_Cortesia,Nombre,Primer_Apellido,Segundo_Apellido,Fecha_Nacimiento,Fotografia,Genero,Tipo_Sangre,Estatus,Fecha_Registro,Fecha_Actualizacion
0,1,ING,Andrea,Gutiérrez,Mendoza,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,M,O+,b'\x01',2025-02-27 14:23:15,None
1,2,Profra.,Sofía,López,Sánchez,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,M,O+,b'\x01',2025-02-27 14:23:15,None
2,3,ING,Claudia,Morales,López,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,M,O+,b'\x01',2025-02-27 14:23:15,None
3,4,ING,Andrea,Jiménez,Cruz,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,M,O+,b'\x01',2025-02-27 14:23:15,None
4,5,Med.,Hugo,Flores,Sánchez,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,H,O+,b'\x01',2025-02-27 14:23:15,None
5,6,ING,Valentina,González,Morales,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,M,O+,b'\x01',2025-02-27 14:23:15,None
6,7,Dra.,Patricia,Vásquez,Hernández,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,M,O+,b'\x01',2025-02-27 14:23:15,None
7,8,ING,Verónica,López,Vásquez,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,M,O+,b'\x01',2025-02-27 14:23:15,None
8,9,ING,Patricia,Flores,Pérez,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,M,O+,b'\x01',2025-02-27 14:23:15,None
9,10,Dr.,Mariano,Rodríguez,Jiménez,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,H,O+,b'\x01',2025-02-27 14:23:15,None
10,11,ING,Marta,Gutiérrez,González,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,M,O+,b'\x01',2025-02-27 14:23:15,None
11,12,Dr.,Marco,Rivera,Rodríguez,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,H,O+,b'\x01',2025-02-27 14:23:15,None
12,13,ING,Juan,Castillo,Hernández,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,H,O+,b'\x01',2025-02-27 14:23:15,None
13,14,ING,Brayan,Morales,Martínez,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,H,O+,b'\x01',2025-02-27 14:23:15,None
14,15,ING,Santiago,Hernández,Rodríguez,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,H,O+,b'\x01',2025-02-27 14:23:15,None
15,16,ING,Verónica,García,López,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,M,O+,b'\x01',2025-02-27 14:23:15,None
16,17,ING,Jaime,Morales,Rivera,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,H,O+,b'\x01',2025-02-27 14:23:15,None
17,18,Dra.,Maria,Sánchez,Cruz,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,M,O+,b'\x01',2025-02-27 14:23:15,None
18,19,ING,Raquel,González,Mendoza,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,M,O+,b'\x01',2025-02-27 14:23:15,None
19,20,C.P.,Martin,Ramírez,Gutiérrez,2003-12-29,fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png,H,O+,b'\x01',2025-02-27 14:23:15,None

#### 5.4 Exportar  Datos a una Tabla Temporal de SQL

In [30]:
df2.to_sql('temporal', con=engine, if_exists='replace', index=False)

20

In [31]:
# verificamos si se creo correctamente 
df_verificacion = pd.read_sql_query("SELECT * FROM temporal", con=engine)
print(df_verificacion.head())

   ID Titulo_Cortesia   Nombre Primer_Apellido Segundo_Apellido  \
0   1            None   Andrea       Gutiérrez          Mendoza
1   2         Profra.    Sofía           López          Sánchez
2   3            None  Claudia         Morales            López
3   4            None   Andrea         Jiménez             Cruz
4   5            Med.     Hugo          Flores          Sánchez

  Fecha_Nacimiento                                      Fotografia Genero  \
0       2003-12-29  fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png      M
1       2003-12-29  fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png      M
2       2003-12-29  fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png      M
3       2003-12-29  fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png      M
4       2003-12-29  fotos/c931450c-f53d-11ef-8736-581122b8ef0d.png      H

  Tipo_Sangre Estatus      Fecha_Registro Fecha_Actualizacion
0          O+        2025-02-27 14:23:15                None
1          O+        2025-02-27 14:23:15                None
2          O+        2025-02-27 14:23:15                None
3          O+        2025-02-27 14:23:15                None
4          O+        2025-02-27 14:23:15                None

## Ejercicio 2

### 5.5 Importar datos desde una API-GET

In [32]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import display

# 1. URL de la API (sin clave)
url = "https://akabab.github.io/superhero-api/api/all.json"

# 2. Petición a la API
response = requests.get(url)

# 3. Verificamos que la respuesta sea exitosa
if response.status_code == 200:
    data = response.json()

    # 4. Convertimos a DataFrame
    df = pd.json_normalize(data)

    # 5. Filtramos solo personajes de Marvel
    df_marvel = df[df['biography.publisher'] == 'Marvel Comics']

    # 6. Mostramos las primeras filas con columnas clave
    display(df_marvel[['name', 'biography.fullName', 'appearance.gender', 'powerstats.intelligence', 'powerstats.strength', 'powerstats.power']].head(10))

else:
    print(f"Error {response.status_code}: {response.text}")

,name,biography.fullName,appearance.gender,powerstats.intelligence,powerstats.strength,powerstats.power
0,A-Bomb,Richard Milhouse Jones,Male,38,100,24
3,Abomination,Emil Blonsky,Male,63,80,62
4,Abraxas,Abraxas,Male,88,63,100
5,Absorbing Man,Carl Creel,Male,38,80,98
8,Agent Bob,Bob,Male,10,8,5
9,Agent Zero,Christoph Nord,Male,75,28,72
10,Air-Walker,Gabriel Lan,Male,50,85,100
11,Ajax,Francis,Male,56,48,34
19,Angel Dust,Christina,Female,38,55,17
22,Annihilus,Annihilus,Male,75,80,59

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 563 entries, 0 to 562
Data columns (total 30 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            563 non-null    int64
 1   name                          563 non-null    object
 2   slug                          563 non-null    object
 3   powerstats.intelligence       563 non-null    int64
 4   powerstats.strength           563 non-null    int64
 5   powerstats.speed              563 non-null    int64
 6   powerstats.durability         563 non-null    int64
 7   powerstats.power              563 non-null    int64
 8   powerstats.combat             563 non-null    int64
 9   appearance.gender             563 non-null    object
 10  appearance.race               399 non-null    object
 11  appearance.height             563 non-null    object
 12  appearance.weight             563 non-null    object
 13  appearance.eyeColor           563 non-null    object
 14  appearance.hairColor          563 non-null    object
 15  biography.fullName            563 non-null    object
 16  biography.alterEgos           563 non-null    object
 17  biography.aliases             563 non-null    object
 18  biography.placeOfBirth        563 non-null    object
 19  biography.firstAppearance     563 non-null    object
 20  biography.publisher           557 non-null    object
 21  biography.alignment           563 non-null    object
 22  work.occupation               563 non-null    object
 23  work.base                     563 non-null    object
 24  connections.groupAffiliation  563 non-null    object
 25  connections.relatives         563 non-null    object
 26  images.xs                     563 non-null    object
 27  images.sm                     563 non-null    object
 28  images.md                     563 non-null    object
 29  images.lg                     563 non-null    object
dtypes: int64(7), object(23)
memory usage: 132.1+ KB

### 5.6 Limpiar Datos

In [34]:
# Verificamos si hay datos nulos
dfa_nulos = df.isnull().sum()
print(dfa_nulos)

id                                0
name                              0
slug                              0
powerstats.intelligence           0
powerstats.strength               0
powerstats.speed                  0
powerstats.durability             0
powerstats.power                  0
powerstats.combat                 0
appearance.gender                 0
appearance.race                 164
appearance.height                 0
appearance.weight                 0
appearance.eyeColor               0
appearance.hairColor              0
biography.fullName                0
biography.alterEgos               0
biography.aliases                 0
biography.placeOfBirth            0
biography.firstAppearance         0
biography.publisher               6
biography.alignment               0
work.occupation                   0
work.base                         0
connections.groupAffiliation      0
connections.relatives             0
images.xs                         0
images.sm                         0
images.md                         0
images.lg                         0
dtype: int64

In [35]:
# Limpiamos los datos nulos y corroboramos que se hayan eliminado 
dfa_clean_nulos = dfa_nulos.dropna()
print(dfa_nulos.isnull().sum())

0

In [36]:
dfa_nulos.info()

<class 'pandas.core.series.Series'>
Index: 30 entries, id to images.lg
Series name: None
Non-Null Count  Dtype
--------------  -----
30 non-null     int64
dtypes: int64(1)
memory usage: 1.5+ KB

## 5.7 Transformación de Datos

In [37]:
# Se sustituyen valores nulos por 'N/A'
dfa_clean_nulos = dfa_nulos.fillna(value='N/A')

In [38]:
# verificar que si se hayan sustituido 
dfa_clean_nulos

id                                0
name                              0
slug                              0
powerstats.intelligence           0
powerstats.strength               0
powerstats.speed                  0
powerstats.durability             0
powerstats.power                  0
powerstats.combat                 0
appearance.gender                 0
appearance.race                 164
appearance.height                 0
appearance.weight                 0
appearance.eyeColor               0
appearance.hairColor              0
biography.fullName                0
biography.alterEgos               0
biography.aliases                 0
biography.placeOfBirth            0
biography.firstAppearance         0
biography.publisher               6
biography.alignment               0
work.occupation                   0
work.base                         0
connections.groupAffiliation      0
connections.relatives             0
images.xs                         0
images.sm                         0
images.md                         0
images.lg                         0
dtype: int64

## 5.8 Exportar Datos

In [39]:
# Exportamos los datos a csv
df.to_csv("peliculas_tamil.csv", index=False)

In [40]:
#Nos aseguramos de que el archivo se genero 
!cd 
!dir

C:\Users\ti_la\Downloads\Practica 06
 El volumen de la unidad C es OS
 El número de serie del volumen es: 00B9-62DE

 Directorio de C:\Users\ti_la\Downloads\Practica 06

26/06/2025  01:17 p. m.    <DIR>          .
26/06/2025  12:45 p. m.    <DIR>          ..
26/06/2025  12:56 p. m.    <DIR>          .ipynb_checkpoints
05/06/2025  12:51 p. m.               557 .Untitled.ipynb.layout
26/06/2025  01:17 p. m.           470,826 peliculas_tamil.csv
24/06/2025  02:13 p. m.           611,755 Practica06.ipynb
26/06/2025  01:17 p. m.            65,692 Practica07.ipynb
05/06/2025  02:31 p. m.         4,127,717 salaries.csv
17/06/2025  10:33 a. m.                95 superheroes_processed.csv
17/06/2025  02:22 p. m.             2,439 Untitled.ipynb
               7 archivos      5,279,081 bytes
               3 dirs  29,431,549,952 bytes libres